<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cartoon.dao.data.mapper.CharacterMapper">

    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO public."character" (id, name, status)
        VALUES
        <foreach collection="list" item="character" separator=",">
            (#{character.id}, #{character.name},#{character.status})
        </foreach>
    </insert>


</mapper>

